.title{
    color: darkslategray;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
}

.button{
    display: flex;
    margin: 40px auto;
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
    background-color: cornflowerblue;
    color:aliceblue;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button:hover{
    background-color:aliceblue;
    color:cornflowerblue;
}

.button:active{
    transform: scale(0.95);
}

.cat-image{
    position: absolute;
    object-fit: contain;
    pointer-events: none;
}