* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section{
    display:flex;
    align-items: center;
    gap: 50px;
}

.text-area{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.centered{
    margin: 0 auto;
}

.big-banner{
    width: 500px;
    height: auto;
    float: left;
}

.line{
    width: 75%;
}

.box{
    display: block;
    background-color: beige;
    width: 200px;
    padding: 20px;
    text-decoration: none;
    color: black;
    text-align: center;
    border-radius: 12px;
    transition: color 0.5s ease;
}

.box:hover{
    color:cadetblue;
}

.nav-bar{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
   display: flex;
   align-items: center;
   font-size: 18px;
   text-decoration: none;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    text-decoration: none;
}