.video{
    display: flex;
    background-color: beige;
    padding: 20px;
    width: 70%;
    height: 20px;
    margin: 15px auto;
    border: 2px solid tan;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.video:hover{
    transform: translateY(-6px);
}

.video a {
      text-decoration: none;
      color: #333;
      transition: color 0.5s ease;
    }

.video a:hover {
    color: cadetblue;
}

.title{
    text-align: left;
    margin: 40px;
}

.content{
    text-align: center;
    font-style: italic;

}