.video{
    background-color: beige;
    padding: 20px;
    width: 70%;
    margin: 30px auto;
    border: 2px solid tan;
    border-radius: 12px;
    text-align: center;
    transition: color 0.5s ease; transform: 0.3s ease;
}

.video:hover{
    color: cadetblue;
    transform: translateY(-6px);
}

.video a {
      text-decoration: none;
      color: #333;
    }